.main-head{
text-transform: capitalize;
margin-top: 20px;
height: 46px;
padding: 16px 16px 16px 16px;
border-radius: 4px ;
border: 1px;
opacity: 0px;
background-color: #FFFFFF;
border: 1px solid #DDE1E6;
cursor:pointer;
justify-content: space-between;
}

.main-div{
  margin-left: 10%; margin-right: 10%;
}

// footer.js 

.foot-head{
gap: 0px;
opacity: 0px;
font-family: Montserrat;
font-weight: bolder;
line-height: 46.2px;
text-align: center;
background: linear-gradient(90deg, #7367F0 25.19%, #EDAEF8 89.31%);
-webkit-background-clip: text;
color: transparent;
}
.foot-sub-head{
opacity: 0px;
font-family: Montserrat;font-weight: bolder;
line-height: 22px;
text-align: center;
background: #001D6C;
-webkit-background-clip: text;
color: transparent;
text-transform: uppercase;
}